<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgcns.smartwcs.interfaces.repository.SkuReceiveMapper">
    <insert id="save" parameterType="com.lgcns.smartwcs.interfaces.model.SkuMaster">
        /* INSERT save */
        <![CDATA[
            INSERT INTO
                wcsdb.TB_COM_SKU_MST
                    (CO_CD, CST_CD, SKU_CD, SKU_NM, SKU_CNTR_NM, UOM_CD, UOM_QTY, WIDTH, LENGTH, HEIGHT,
                     CBM, GROSS_WEIGHT, NET_WEIGHT, BOX_GROSS_WEIGHT, BOX_NET_WEIGHT, UOM_LEN, UOM_CBM, UOM_WEIGHT, SKU_GRP_01, SKU_GRP_02,
                     BOX_IN_QTY, UNUSUAL_YN, PROD_CD, IMAGE_URL, SKU_STACK_METHOD, USE_YN, REG_ID, REG_DT, UPD_ID, UPD_DT)
            VALUES (
                    #{coCd}, #{cstCd}, #{skuCd}, #{skuNm}, #{skuCntrNm}, #{uomCd}, #{uomQty}, #{width}, #{length}, #{height},
                    #{cbm}, #{grossWeight}, #{netWeight}, #{boxGrossWeight}, #{boxNetWeight}, #{uomLen}, #{uomCbm}, #{uomWeight}, #{skuGrp01}, #{skuGrp02},
                    #{boxInQty}, #{unusualYn}, #{prodCd}, #{imageUrl}, #{skuStackMethod}, #{useYn}, #{regId}, STR_TO_DATE(#{regDt}, '%Y%m%d%H%i%s'), #{regId}, STR_TO_DATE(#{regDt}, '%Y%m%d%H%i%s')
                    )
            ON
                DUPLICATE KEY
                    UPDATE
	                    SKU_NM = #{skuNm},
	                    SKU_CNTR_NM = #{skuCntrNm},
	                    UOM_CD = #{uomCd},
	                    UOM_QTY = #{uomQty},
	                    WIDTH = #{width},
	                    LENGTH = #{length},
	                    HEIGHT = #{height},
                        CBM = #{cbm},
                        GROSS_WEIGHT = #{grossWeight},
                        NET_WEIGHT = #{netWeight},
                        BOX_GROSS_WEIGHT = #{boxGrossWeight},
                        BOX_NET_WEIGHT = #{boxNetWeight},
                        UOM_LEN = #{uomLen},
                        UOM_CBM = #{uomCbm},
                        UOM_WEIGHT = #{uomWeight},
                        SKU_GRP_01 = #{skuGrp01},
                        SKU_GRP_02 = #{skuGrp02},
                        BOX_IN_QTY = #{boxInQty},
                        UNUSUAL_YN = #{unusualYn},
                        PROD_CD = #{prodCd},
                        IMAGE_URL = #{imageUrl},
                        SKU_STACK_METHOD = #{skuStackMethod},
                        USE_YN = #{useYn},
                        UPD_ID = #{regId},
                        UPD_DT = STR_TO_DATE(#{regDt}, '%Y%m%d%H%i%s')
	          ;
        ]]>
    </insert>

    <insert id="saveSkuBcd" parameterType="com.lgcns.smartwcs.interfaces.model.SkuBcdMaster">
        /* INSERT saveSkuBcd */
        <![CDATA[
            INSERT INTO
                wcsdb.TB_COM_SKU_BCD_MST(
                    CO_CD, CST_CD, SKU_CD, BCD, BCD_TYPE, USE_YN, REG_ID, REG_DT, UPD_ID, UPD_DT
                    )
            VALUES (
                #{coCd}, #{cstCd}, #{skuCd}, #{bcd}, #{bcdType}, #{useYn},  #{regId}, STR_TO_DATE(#{regDt}, '%Y%m%d%H%i%s'), #{regId}, STR_TO_DATE(#{regDt}, '%Y%m%d%H%i%s')
                )
            ON DUPLICATE KEY
            UPDATE
                BCD_TYPE = #{bcdType},
                USE_YN = #{useYn},
                UPD_ID = #{regId},
                UPD_DT = STR_TO_DATE(#{regDt}, '%Y%m%d%H%i%s');
        ]]>
    </insert>

    <select id="existSkuCd" parameterType="com.lgcns.smartwcs.interfaces.model.SkuMaster" resultType="boolean">
        /* SELECT existSkuCd */
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
          FROM wcsdb.TB_COM_SKU_MST
         WHERE 1= 1
           AND CO_CD = #{coCd}
          AND CST_CD = #{cstCd}
          AND SKU_CD = #{skuCd}
          AND USE_YN = 'Y'
        ;
    </select>
</mapper>